<section class="absolute" style="width: 100vw;height: 100vh;">
  <button class="bg-blue-600 mt-5 w-7 h-20 rounded-tr-3xl rounded-br-3xl border-2 border-white absolute" type="button"
          data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="z-index: 100000;">
    <mat-icon style="color: white;transform: rotate(90deg);">menu</mat-icon>
  </button>
  <div class="menu-footer absolute bg-blue-500 w-full h-10 z-50 opacity-70" style="bottom: 0">

    <button class="btn btn-primary z-50 absolute " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling_map" aria-controls="offcanvasScrolling_map"><i class="fa-solid fa-location-dot"></i></button>

  </div>

</section>
